.wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.formCont {
  position: relative;
  justify-content: flex-end;
}

.textCont {
  background-image: url("../../../public/img_placeholder.png");
  justify-content: center;
  object-fit: contain;
  width: 823px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.text {
  width: 496px;
  height: 400px;
  margin: 40px auto;
}

.textTitle {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 2px;
  color: #ffff;
  text-transform: uppercase;
  margin: 18px 0;
}

.textSub {
  font-weight: 700;
  font-size: 28px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffff;
  margin: 18px 0;
  padding-left: 2px;
}

.textPar {
  width: 100%;
  height: 135px;
  font-style: normal;
  font-weight: 400;
  color: #ffff;
  line-height: 27px;
  padding-left: 2px;
  margin-top: 8px;
}

@media (max-width: 840px) {
  .wrapper {
    gap: 10px;
  }

  .formCont {
    padding-left: 20px;
  }

  .textCont {
    width: 770px;
    object-fit: scale-down;
  }

  .text {
    width: 396px;
  }

  .textTitle {
    font-size: 35px;
  }
  .textSub {
    font-size: 20px;
  }
  .textPar {
    line-height: 22px;
    margin-top: 14px;
  }
}

@media (max-width: 740px) {
  .formCont {
    padding: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .textCont {
    width: 390px;
    height: 460px;
    object-fit: scale-down;
  }
  .text {
    text-align: center;
    margin: 40px auto;
    width: 100%;
  }
  .textTitle {
    font-size: 35px;
  }

  .textPar {
    width: 370px;
    margin: 20px auto;
    line-height: 28px;
    height: 200px;
    font-size: 18px;
    justify-content: center;
  }
}
