.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  background: transparent;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
}

.icon {
  width: 83px;
  height: 83px;
  color: #fff;
  margin-bottom: 6px;
}

.title {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
}

.text {
  font-weight: 400;
  font-size: 18px;
  width: 301px;
  height: 54px;
  text-align: center;
  line-height: 27px;
  color: #fff;
}
